:root{
    --start-background-color-ars: #904d30;
}

header{
    background-color: var(--start-background-color-ars);
}

header a{
    color: white;
}

nav{
    border-bottom: 1px solid white;
}

.start {
    display: grid;
    background-color: var(--start-background-color-ars);
    /* height: 800px; */
    padding-top: 40px;
    padding-bottom: 40px;
}

.apart{
    padding-top: 40px;
    background-color: #f4a460;
}

.apart-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.apart-images img{
    width: 30%;
    max-width: 400px;
    /*background-color: white;*/
}

.apart.video.block{
    display: flex;
    justify-content: center;
}

.apart.video {
    position: sticky;
    grid-row: 1;
    grid-column: 1;
    pointer-events: none;
    box-sizing: border-box;
    height: 100%;
    z-index: 1;
}

.apart.video video {
    position: absolute;
    /*margin-top: 100px;*/
    object-fit: cover;
    width: 100%;
    height: 80%;
}

#apart-description{
    color: white;
    font-family: Geologica;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    /*margin-bottom: 50px;*/
}

/*ОТЗЫВЫ*/
.comments{
    background-color: bisque;
}
/*Следует проверить на наличие отсутствующих на странице классов и айди*/

/*@media (max-width: 1400px) {*/

/*}*/

/*@media (max-width: 1150px) {*/
/*}*/

