:root{
    --start-background-color: #904d30;
}

header{
    background-color: var(--start-background-color);
}

header a{
    color: white;
}

nav{
    border-bottom: 1px solid white;
}

.start {
    display: grid;
    background-color: var(--start-background-color);
    /* height: 800px; */
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Следует проверить на наличие отсутствующих на странице классов и айди*/

/*@media (max-width: 1400px) {*/

/*}*/

/*@media (max-width: 1150px) {*/
/*}*/

